/*
Stylingen herunder kan flyttes til Lykkes stylesheet efterhånden
*/


/*styling af flickr-albums*/
body.node-type-fotoalbum-flickr div#content-inner img.flickr-photo-img {
	padding: 5px;
}
/*styling af cyberhus siders baggrunde*/
body.section-kontaktos div#content-inner {
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:620px;
}
body.section-cyberskole div#content-inner {
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:620px;
}

body.section-lystvaerelse div#content-inner{
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:620px;
}

/*styling af midterkolonnen i rummene*/
body.section-lystrum div.node-inner, body.section-lovstue div.node-inner, body.section-badevaerelse div.node-inner, body.section-gaestevaerelse div.node-inner, body.section-stue div.node-inner, body.section-koekken div.node-inner, body.section-bibliotek div.node-inner, body.section-it-vaerksted div.node-inner, body.section-filmvaerksted div.node-inner, body.section-kunstvaerksted div.node-inner, body.section-aktiv-fritid div.node-inner, body.section-musikvaerksted div.node-inner {
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:620px;
}

body.section-blogs div#content-inner {
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:620px;
}
/*brugersider inkl. imce file browser...*/
body.section-user div#content-inner, body.section-users div#content-inner {
	background-color:#FFFFFF;
	border-bottom:1px solid #77ACD3;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	margin:0;
	padding:15px;
	width:800px;
}

body.section-user div#content div.kol_top, body.section-users div#content div.kol_top_center {
	background-color:#99D7FF;
	background-image:url(/sites/all/themes/cyberhus2/images/koltop_center.png);
	background-position:center center;
	background-repeat:repeat-x;
	border-left:1px solid #77ACD3;
	border-right:1px solid #77ACD3;
	border-top:1px solid #77ACD3;
	height:20px;
	width:830px;
}

body.section-user div#content #browse-wrapper {
	clear:left;
}

body.section-user div#help-box-title {
	margin-bottom:10px;
	padding-bottom:10px;
}

/*specialindstilling for billederne i rummene*/
body.node-type-cyberflash div.node-inner {
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	padding:0px;
	width:650px;
	margin:0;
}
/*etagenavigationen med flash (visuel navigation)*/
body.page-node-647 div#content-inner {
	background-color:#FFFFFF;
	padding:0px;
	width:650px;
	margin:0;	
}
/*etagenavigationen med flash (visuel navigation)*/
body.page-node-647 div#flashcontent {
	border-bottom:0px;
	border-left:0px;
	border-right:0px;
	padding:0px;
	margin:0;	
}
/*grundlæggende styling af elementer i diverse views-lister*/
body.section-stue .node-type-page .view-temasorteret-udtraek div.views-row-even, body.section-stue .node-type-page .view-temasorteret-udtraek div.views-row-odd{
	padding: 10px;
	margin-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
	min-height: 100px;
	clear: both;
}

/*TOPBANNER*/
div#header-inner a.homelink{
	display:block;
	width:1000px;
	height:121px;
	background-image:url(http://www.cyberhus.dk/sites/default/files/cyberhusdk/billeder/layout/topbanner.jpg);
	background-repeat:no-repeat;
}

/*chatrådgivningsskilt - snuppet fra lykkes testtema*/
div#lightContent{
	width:153px;
	height:40px;
	position:relative;
	top:-69px;
	left:760px;
	margin:0;
	margin-bottom:-42px;
	padding:0;
	z-index:5;
}
/*sekundærmenuplacering - snuppet fra lykkes testtema*/
div#block-menu-secondary-links div.block-inner ul.menu {
	display:block;
	height:25px;
	left:430px;
	list-style-type:none;
	margin:0 0 -25px;
	padding:0 5px 0 0;
	position:relative;
	top:-120px;
	width:550px;
	z-index:100;
}
/*PLACERING AF SKOLESKILT - indhold ikke implementeret pt
div#SkolelightContent{
	width:153px;
	height:40px;
	position: absolute;
	top: 20px;
	left: 490px;
	margin:0;
	padding:0;
	border:1px #FF0000 solid;
}
*/
/****Basic LINK style*****/
a{
	text-decoration: none;
	color:#823f0a;
	}
a:visited{
	color:#823f0a;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color:#a36b0d;
}
a:active{}

/****CYBERHUS-TEMA IKONERNES PLACERING*****/
.taxonomy_image_wrapper {
	display:inline;
}
/****debatforum*****/
div.forum-post-wrapper .author-pane .author-name {
	font-size:12px;
}
/****brevkasser - bl.a. ie fix: hver brevkasse + redaktører skal vises i nyt afsnit*****/
body.section-faq div#content-inner .clear-block {
	clear:both;
}
.faq_qa div.faq_answer div.taxonomy_image_wrapper{
	display:none;
}
/*
.faq_qa div.faq_answer  {
	background-color:#ffe7e7;
}
*/
body.section-faq div#content-inner div.item-list a {
	text-decoration: none;
	color:#823f0a;
	font-weight:bold;
}

div.faq div.item-list ul li {
	margin-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:15px;
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCCCCC;
}
/*.faq_qa div.faq_answer {
	background-color:#f4eac7;
	padding-left:5px;
}
*/
/*man kan ikke slå kommentaerer fra i modulet, så here goes again*/
.faq_qa div.faq_answer ul.links li.comment_add {
	display:none;
}
body.node-type-faq ul.links li.comment_add {
	display:none;
}
/*
.faq_qa div.faq_question {
	background-color:#e7e7e7;
	margin-top:5px;
	padding-left:5px;
	padding-top:5px;
}
*/
/*skal være alm. skriftsstørrelse indtil vi får brevkasse med flere cck-felter*/
body.node-type-faq div#content-inner h1{
	font-size:12px;
	font-weight: normal;
}

/**************************LEFT BLOCK TITLES************************/


/*BREVKASSEN*/
div#sidebar-left div#block-views-rum_udtraek-block_1 h2{
	background-image: url(images/overskrift_spsm.png);
	background-repeat: no-repeat;
	background-position: left center;
}
/**************************panel page - fortæl din historie************************/
/*der skal ligge 4x2 panels på række på oversigtssiden med kategorier*/
div#fortael_historie div.panel-pane {


}
div#fortael_historie div.panel-pane div.views-field-name {
	display:none;	
}
/**************************TAXONOMI************************/
/*vi gemmer termerne indtil vi får dem fjernet fra template node.tpl.php*/
.terms {
	display:none;
}
