# ignore specific files - just write the name of the files...

# Drupal settings files #
######################
settings.php
default.settings.php
lokalt_settings.php
cyberhus_udvikling_settings.php
cyberhus_production_settings.php
devel_settings.php

# We dont want to include these files
######################
.project
robots.txt
.htaccess
githubpull.php
php5.fcgi
sites/findhjaelp.dk/xmlfilnavn.txt
sites/findhjaelp.dk
suexec.log

#the temp files should not be included
######################
*~
/js
/css
/googleanalytics
/languages

#we dont want to include backups or database files
######################
/backup
/phpmyadmin

#we don't want dev modules included for now
######################
sites/all/modules/charts/*
sites/all/modules/dtools/*
sites/all/modules/devel_themer/*

#we don't want certain media files included
######################
sites/default/files/*
*.avi
*.mpeg
*.flv
*.mpg
*.mp3
*.mp4
*.bmp
*.wmv
*.fla
*.swc
*.psd
*.pdf
*.odg
*.doc

.htaccess_backup
Cyberhus2 - Genvej (2).lnk
Cyberhus2 - Genvej (3).lnk
Cyberhus2 - Genvej (4).lnk
Cyberhus2 - Genvej.lnk
