/*Cyberhus Radio */

body {
	background-image:url(/sites/all/themes/cyberhus2/images/cybervox_woodyskin_final.jpg);
	background-repeat:no-repeat;
	margin: 0px;
}
div.overlay {
	position:absolute;
	background-image: none;
	/* url(/sites/all/themes/cyberhus2/images/cyberradio_julepynt.png);*/
	background-repeat:no-repeat;
	z-index: 1;
	width: 450px;
	height: 660px;

}
div.upcomers {
	position:absolute;
	bottom:45px;
	left:63px;
	z-index: 2;
}
div.fresh {
	position:absolute;
	bottom:45px;
	left:226px;
	z-index: 2;
}
div#logo_text {
	position:absolute;
	left:74px;
}