/* Fjerne bullets i cfdp-blogs på voksne-sider, left sidebar */
#voksne-blog .item-list ul li {
    list-style: none;
}

/* Fjerne visning af blog-it-ikon og more-link på cfdp-blogs på voksne-sider, left sidebar */
#voksne-blog .item-list .icon, .more-link {
    display: none;  
}

/* Styling table showing chat opening hours, right sidebar */
#opening-hours-table {
	margin-left: 8px;
}

#opening-hours-table td {
    color: #666666;
    font-weight: bold;
}

/* Husk at sætte CSS id til voksne-blog i panel page */

