/* Remove bullets in cfdp-blogs on adult pages, left sidebar */
#voksne-blog .item-list ul li {
    list-style: none;
}

/* Remove blog-it icon and more-link from cfdp-blogs on adult pages, left sidebar */
#voksne-blog .item-list .icon, .more-link {
    display: none;  
}

#voksne-blog {
    background: #DDDDDD;
}

/* Style headers for the individual blog-blocks on adult pages, left sidebar */
#voksne-blog h2 {
    font-size: 15px;
}

/* Style table showing chat opening hours, right sidebar */
#opening-hours-table {
	margin-left: 8px;
}

#opening-hours-table td {
    color: #666666;
    font-weight: bold;
}

/* Style header of page På den anden side */
body.page-node-14447 div.title-image h2.title {
    color: #FFFBF5;
    padding-left: 4px;
}

/* Style header of page Din mening er vigtig! */
body.page-din_mening_er_vigtig div.title-image h2.title {
    color: #FF9900;
    background-color: #000000;
    opacity: 0.8;
    padding: 5px;
}

/* CSS til fjernelse af forum fra oversigt */
#forum-list-1966 {
    display: none;
}

/* Remove possibility to change forum when adding a forum subject in "Vil du være med til at gøre Cyberhus endnu bedre?" */
body.logged-in.page-node-add-forum-1966 div#edit-taxonomy-1-wrapper {
   display: none;
}
/* Logged in looks good */
body.not-logged-in.page-node-add-forum-1966 div#content-area fieldset.collapsible {
   display: none;
}
   

/* Fjerne "Opret nyt forumemne" og "Marker alle emner som læst" */
body.page-forum-1966 #forum .forum-top-links {
  display: none;
}