/* Remove bullets in cfdp-blogs on adult pages, left sidebar */
#voksne-blog .item-list ul li {
    list-style: none;
}

/* Remove blog-it icon and more-link from cfdp-blogs on adult pages, left sidebar */
#voksne-blog .item-list .icon, .more-link {
    display: none;  
}

#voksne-blog {
    background: #DDDDDD;
}

/* Style headers for the individual blog-blocks on adult pages, left sidebar */
#voksne-blog h2 {
    font-size: 15px;
}

/* Style table showing chat opening hours, right sidebar */
#opening-hours-table {
	margin-left: 8px;
}

#opening-hours-table td {
    color: #666666;
    font-weight: bold;
}

/* Style header of page På den anden side */
body.page-node-14447 div.title-image h2.title {
    color: #FFFBF5;
    padding-left: 4px;
}
