/* CSS Document */
/* tilpasning af Acquia Marina-temaet til Cyberhus-louunge */
/*forsøg på at style forummet så det bliver mere brugbart
div.forum-post div.odd {
	border: 1px solid #DDDDDD;
}

div.forum-post div.even {
	border: 1px solid #DDDDDD;
	background-color: #ffffff;
}
*/

/*header-first sektionen gøres mindre for at gøre plads til cyberhuslogo*/
#header-first {
	width: 150px;
	
}

#header-middle, #header-middle div.block-wrapper, #header-middle p {
	margin: 0px;
}

#header-middle {
	padding-top: 20px;
}

/*Styling af find-cyber-siden*/
div.view-id-lounge_brugerliste table.views-view-grid td.col-1, div.view-id-lounge_brugerliste table.views-view-grid td.col-2 {
	border: 1px solid #CCCCCC;
	padding: 5px;
	background-color: #FDFFEF;
}

/*tilføjet for at admin-linksene ikke skal ligge oveni dropdownmenuen*/
div.view div.views-admin-links {
	/*padding-top: 60px;*/
}
a {
	font-weight: bold;
}

html {
	color:#333333;
}


/*grundlæggende visning af diverse fields */
div.field-field-lou-link-link p, .field-field-anmeldelse-hjemmeside p {
	display:inline;
}
/*styling af nice menus - dropdownmenuer...*/
div#content-tabs {
	clear:left;
	margin-top: 10px;
}
div#content-top-menu {
	clear:right;
	margin-top: -22px;
	float:left;
}

div#content-top-menu  div.block-wrapper {
	display:inline;
}
div.block-nice_menus div.content {
	overflow:visible;
}
div.block-nice_menus {
	float:left;
}
/*Ingen overskrift på de horisontale menuer*/
div.block-nice_menus h2.title {
	display:none;
}
div#block-menu-menu-arbejdskatalog li {
	float: left;
    padding: 0 10px 0 0;
	background:none;
}

/*Viewseelementer i #content skal med i float-systemet*/
div#content div.view-filters {
	clear:left;
	float:left;
}
div#content div.view-content {
	clear:left;
	float:left;
}

div#preface-middle .picture {
	float:left;
	margin: 0px;
	padding-right: 5px;
}
/*Lounge-nyt i preface*/
div#preface-first div.view-content .views-field-field-billede-fid, div#preface-middle div.view-content .views-field-field-billede-fid {
	float: left;
	padding-right: 5px;
}

div#preface-first .views-field-name .field-content {
	/*font-size:75%;*/
}
table.views-table caption {
	font-weight:bold;
	font-size: 12px;
	color:#FFFFFF;
	background-color: #1C537A;
	padding: 3px;
}
div#preface-first .views-field-changed {
	/*font-size:75%;*/
}
div#preface-wrapper a {
	font-weight: normal;

}

div#preface-wrapper a:link:hover, div#preface-wrapper a:visited:hover {
	/*border-bottom:medium none;*/
	text-decoration:none;
	color:#FFFFFF;
	/*font-size:75%;*/

}

#preface-wrapper a:link, #preface-wrapper a:visited {
	color:#FFFFFF;
	text-decoration:none;
	/*font-size:75%;*/

}


#preface-wrapper {
	color:#94CE18;
	font-family:Myriad Pro,Myriad Web Pro Regular,Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size:1.2em;
	margin:0 auto;
	overflow:hidden;
	padding:0;
	width:960px;
	height: 143px;
}

div#preface-first .more-link, div#preface-middle .more-link {
	text-align:left;
	color:#FFFFFF;
	/*font-size:75%;*/

}

/*visning af udtræksblokke på forsiden*/
#block-views-lounge_brugerudtraek-block_1 .content{
	width:350px;
	float:left;
	clear:none;
}

#block-block-10 {
	width:350px;
	float:left;
	clear:left;
}

#block-views-og_unread-block_1 {
	width:340px;
	float:left;
	clear:none;
}

/*styling af lounge forside, udtræksblokke*/
#block-views-lounge_team_view-block_1,  
#block-views-lounge_team_view-block_2,  
#block-views-lounge_team_view-block_3,  
#block-views-lounge_team_view-block_4,  
#block-views-lounge_team_view-block_5,
#block-views-lounge_team_view-block_6,
#block-views-lounge_oenskebroend-block_1,
#block-views-lounge_LIM-block_1,
#block-views-Loungekalender-block_1, 
.lounge-custom-box  {
	width:340px;
	margin: 2px;
	float:left;
	clear:none;
}
/*blokkene der skal floate til venstre må ikke "sidde fast" ude til højre!*/
#block-views-lounge_team_view-block_1, #block-views-lounge_team_view-block_3, #block-views-lounge_oenskebroend-block_1 {
	clear:left;
}

/*styling af lounge forside, udtræksblokkenes more-links*/
#block-block-10 .more-link, 
#block-views-og_unread-block_1 .more-link,
#block-views-lounge_team_view-block_1 .more-link,  
#block-views-lounge_team_view-block_2 .more-link,  
#block-views-lounge_team_view-block_3 .more-link,  
#block-views-lounge_team_view-block_4 .more-link,  
#block-views-lounge_team_view-block_5 .more-link,
#block-views-lounge_oenskebroend-block_1 .more-link,
#block-views-lounge_LIM-block_1 .more-link,
#block-views-Loungekalender-block_1 .more-link {
	padding-right: 60px;
}

/*cyberbureau*/
.view-id-lounge_forside .more-link {
	clear: left;
}
/*styling af team forsider, udtræksblokke*/
.view-id-lounge_team_view .views-table
{
	width:340px;
	margin: 2px;
	float:left;
	clear:none;
}

/*styling af profilboks i øverste venstre hjørne*/
#block-views-ea8db674b0a8b9605c4aab5e88cc584f .content {
	height:95px;
}

/*styling af teamsider*/
.view-lounge-team-view .item-list {
	width:330px;
	margin: 2px;
	float:left;
	clear:none;
}

.view-lounge-team-view .item-list ul li {
	background:transparent url(images/green-bullet.png) no-repeat scroll left 0.333em;
	list-style-image:none;
	list-style-type:none;
	padding:0 0 0 1.666em;
}

