/* CHAT ENTRY
----------*/
#ccep                           {position: fixed; top: 0; width: 100%; z-index: 999;}
#ccep_panel                     {overflow: hidden; background-color: #FFA74B; background-image: url('../images/orange_gradient_tile.png'); background-repeat:repeat-x; background: -moz-linear-gradient(0% 100% 90deg,#ffa84c, #ff7b0d);  }
#ccep_content_wrapper			{overflow: hidden; width: 1000px; margin: 0 auto; padding: 30px 0 10px;}
#ccep_desc						{float: left; width: 500px;}
#ccep_desc h1					{font-family: 'Amaranth',serif; color: #fff; font-size: 32px; text-shadow: #333 2px 2px 4px;}
#ccep_desc>p 					{font-size: 14px; line-height: 24px; margin-bottom: 20px; color: #000;}
#ccep_form_wrapper				{float: right;}
#ccep_video_wrapper				{float: right;}
#ccep_form ul					{list-style-type: none;}
#ccep_form li					{margin: 20px 0; overflow: hidden;}
#ccep_form input[type=text]		{width: 230px; padding: 8px; font-size: 18px;}
#ccep_form li span				{font-size: 16px; margin-right: 10px;}
#ccep_form li .radio_btn        {float: left; width: 50%;}
#ccep_form input[type=submit]	{float: right; font-size: 16px; padding: 5px; width: 100px;}
#ccep_tab                       {height: 40px; position: relative; top: 0; border-top: 7px solid #000; z-index: 999;}
#ccep_button                    {background-image: url('../images/ccep_bg_min.png'); height: 48px; width: 256px; padding: 4px; position: absolute; right: 20%;}
#ccep_button p                  {color: #82BCE7; text-align: center; font-family: verdana; font-size: 12px; margin: 0px;}
#ccep_status                    {list-style-type: none;}
#ccep_status li                 {display: inline; float: left;}

#ccep_status                    {float: right; position: relative; right:0px; padding: 5px 0px 6px 0px; font: 10px verdana; border-radius: 0 0 8px 8px; margin: 0;}
/* NOT USED AT THE TIME
#ccep_status li.ccep_vacant p   {color: #00ff00;}
#ccep_status li.ccep_busy p 	{color: #ffff00;}
#ccep_status li.ccep_closed p   {color: #ff0000;}
#ccep_status li a               {color: #fff; text-decoration: none;}
#ccep_status li a:hover         {color: #77ACD3;}
*/
#ccep_status li:last-child:hover {cursor: pointer;}
